<div class="container">
  <div class=" px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Fines Goods for the best price</h1>
    <div class="col-lg-6 mx-auto">
      <img src="../../assets/HordeLogo.png" alt="Horde Logo">
      <p>
        The Horde is made up of orcs, forsaken, tauren, trolls, blood elves, and most recently, goblins. Misunderstood
        and
        cast aside, these diverse and powerful races strive to overcome their differences and unite as one in order to
        win
        freedom for their people and prosper in a land that has come to hate them.
      </p>
    </div>
  </div>
</div>


