<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Fines Goods for the best price</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">We′re no strangers to love
      You know the rules and so do I
      A full commitment's what I′m thinking of
      You wouldn't get this from any other guy
      I just wanna tell you how I'm feeling
      Gotta make you understand

      Never gonna give you up
      Never gonna let you down
      Never gonna run around and desert you
      Never gonna make you cry
      Never gonna say goodbye
      Never gonna tell a lie and hurt you</p>

  </div>
</div>
