<header class="mb-auto">
  <div class="container">
    <nav class="nav nav-masthead justify-content-center float-md-right">
      <a class="nav-link active" routerLink="/">Home</a>
      <a class="nav-link active" routerLink="/alliance">Allianz</a>
      <a class="nav-link" routerLink="/horde">Horde</a>
      <a class="nav-link" routerLink="/waffenmenue">Waffenansicht</a>
    </nav>

    <div id="mainImage" class="container-fluid">
      <img src="./assets/Goblin_Main_Page.png" alt="Goblin_Main_Page" width=100% height="auto">
    </div>

  </div>
</header>