<div class="container">
  <div class=" px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Fines Goods for the best price</h1>
    <div class="col-lg-6 mx-auto">
      <img src="../../assets/AllianzLogo.png" alt="Alliance Logo" width="65%" height="auto">
      <p>
        The Alliance (aka Grand Alliance) is one of two major political factions of the mortal races in Azeroth, its
        counterpart being the Horde. The Alliance consists of powerful cultures and groups bound not by desperation or
        necessity, but by their deep commitments to abstract concepts like nobility and honor.
      </p>
    </div>
  </div>
</div>




